body {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.850), rgb(167, 167, 67, 0.850), rgb(8, 58, 15, 0.850));
    min-height: 100vh;
}

#encabezado {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 15px;
    position: sticky;
}

#arriba_izquierda {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 100%;
}

#menu_general {
    display: flex;
    justify-content: center;
}

.menu {
    float: right;
    background-color: rgb(8, 58, 15);
    color: rgb(167, 167, 67);
    padding: 20px;
    border-radius: 5px;
    font-size: 35px;
    text-decoration: none;
    margin-left: 10px;
}

.menu:hover {
    background-color: rgb(167, 167, 67);
    color: rgb(8, 58, 15);
}