body {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.850), rgb(167, 167, 67, 0.850), rgb(8, 58, 15, 0.850));
    min-height: 100vh;
}

#menu_general {
    display: flex;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

#arriba_derecha {
    
}

#logo {
    width: 100px;
    height: 50%;
}

.menu {
    background-color: rgb(8, 58, 15);
    color: rgb(167, 167, 67);
    padding: 8px;
    border-radius: 5px;
    font-size: 35px;
    text-decoration: none;
    margin-left: 10px;
}

.menu:hover {
    background-color: rgb(167, 167, 67);
    color: rgb(8, 58, 15);
}