body {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.850), rgb(167, 167, 67, 0.850), rgb(8, 58, 15, 0.850));
    min-height: 100vh;
}

#encabezado {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    margin-right: 15px;
    align-items: center;
}

#arriba_izquierda {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

#logo {
    width: 100px;
    height: 100%;
}

#abajo_derecha {
    width: fit-content;
    position: fixed;
    z-index: 10000;
    bottom: 10px;
    right: 10px;
}

#logo_abajo {
    width: 85px;
    height: 100%;
}

#menu_general {
    display: flex;
    justify-content: center;
}

#desplegable {
    display: inline-block;
    position: relative;
}

#pagina_original {
    background-color: rgb(167, 167, 67);
    color: rgb(8, 58, 15);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    display: none;
    position: absolute;
    right: 125px;
    z-index: 10000;
    text-decoration: none;
}

#desplegable:hover #pagina_original {
    display: block;
}

.menu {
    float: right;
    background-color: rgb(8, 58, 15);
    color: rgb(167, 167, 67);
    padding: 20px;
    border-radius: 5px;
    font-size: 35px;
    text-decoration: none;
    margin-left: 10px;
}

#titulo {
    color: rgb(8, 58, 15);
    padding: 20px;
    font-size: 35px;
}

.menu:hover {
    background-color: rgb(167, 167, 67);
    color: rgb(8, 58, 15);
}

.izquierda {
    font-size: 18px;
    margin-right: 40%;
}

.centro {
    text-align: center;
}

.horas {
    display: flex;
    position: relative;
    float: right;
    color: rgb(8, 58, 15);
    margin: 5px;
    border-radius: 5px;
}

#duraciones {
    width: fit-content;
    margin: auto;
    padding: 10px;
}

table, td, th {
    position: relative;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    border-spacing: 0;
    color: rgb(0, 0, 0);
}

td:nth-child(odd), th:nth-child(odd) {
    background-color: rgb(13, 107, 26);
}

td:nth-child(even), th:nth-child(even) {
    background-color: rgb(136, 136, 1);
}

a {
    color: rgb(36, 36, 36);
}

#musica {
    position: relative;
    width: fit-content;
    margin: auto;
}

#cancion {
    background-color: rgb(8, 58, 15);
    color: rgb(179, 12, 12);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    h2 {
        background-color: rgb(136, 136, 1);
        border-radius: 5px;
    }
    audio {
        margin-top: 200px;
    }
}

#mogh {
    z-index: 10;
    position: absolute;
    bottom: 80px;
    left: 50px;
    img {
        width: 250px;
        height: 100%;
    }
}

#pergamino {
    position: relative;
    display: flex;
    width: fit-content;
    margin: auto;
    top: -75px;
    z-index: -1;
    img {
        position: relative;
        height: 500px;
        width: 100%;
    }
    #inicio_personaje {
        margin: 20% 220px;
        position: absolute;
    }
}

#titulo_formulario {
    display: flex;
    margin: auto;
    width: fit-content;
}

#formulario {
    display: flex;
    color: rgb(136, 136, 1);
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.815);
    width: 500px;
    padding: 20px 100px;
    padding-top: 0;
    margin: auto;
    margin-bottom: 125px;
    border-radius: 10px;
    .etiqueta {
        padding: 5px;
        background-color: rgba(8, 58, 15, 0.400);
        width: fit-content;
        margin: 20px 0px 10px 0px;
        font-size: 22px;
    }
    input {
        margin-left: 10%;
        font-size: 17px;
    }
    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 17px;
        margin-left: -50px;
    }
    img {
        height: 80px;
        width: auto;
        margin-top: 15px;
    }
    textarea {
        font-size: 17px;
        height: 70px;
        width: 400px;
        margin-left: 10%;
    }
}

#enviar {
    width: fit-content;
    margin: auto;
    margin-top: 70px;
}

#rol {
    margin-left: 15%;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

ul {
    margin-bottom: 100px;
}

li {
    font-size: 18px;
    list-style-type: '⚔️ ';
    margin-left: 8px;
}

.jefes {
    margin-bottom: 150px;
}

.titulo_jefes {
    font-family: Georgia;
    width: fit-content;
    background-color: grey;
    padding: 0px 7px;
    border-radius: 5px;
    border: 2px;
    border-color: black;
    border-style: solid;
    margin: auto;
    position: sticky;
    top: 20px;
}

.descripcion_jefes {
    font-size: 18px;
    width: 50%;
    text-align: center;
    margin: auto;
    img {
        height: 500px;
        width: 100%;
    }
}